* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.main {
    width: 25%;
    margin-top: 5%;
    /*  box-shadow: 3px 3px 20px 5px #292C3B;  */
    margin-left: 45%;
}

.calculator {
    background: rgba(255, 255, 255, .2);
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    box-shadow: 5px 5px 10px 0 #2f3640;
}

h2 {
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #2f3640;
    text-align: center;
    color: white;
    padding: 4%;
    font-size: 1.5em;
    letter-spacing: 1px;
    padding-bottom: 4%;
    overflow: auto;
    text-transform: uppercase;
}

label {
    margin-left: 5%;
    font-size: 1.5em;
    font-family: monospace;
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: 1px;
    color: #222f3e;
}

input[type=text] {
    width: 85%;
    margin-left: 5%;
    border-radius: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    padding: 1.5%;
    outline: none;
    border: none;
    box-sizing: border-box;
}

#tipAmount,
#totalBill {
    border: 1px solid #2f3640;
    background-color: #2f3640;
    color: white;
}

input[type=text]:focus {
    border: solid 1px #2f3640;
    box-shadow: 1px 2px 15px 2px #2f3640;
}

.butn {
    align-self: center;
    margin-top: 4%;
    margin-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: white;
    color: #2f3640;
    border: #2f3640 1px solid;
    border-radius: 4px;
}

.butn:hover {
    color: white;
    background-color: #2f3640;
}

@media screen and (max-width: 700px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: url(background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: relative;
    }
    .main {
        width: 60%;
        margin-left: 0;
        margin-top: 10%;
    }
    #white {
        color: white;
    }
    label {
        color: #151412;
    }
    .butn {
        align-self: center;
        margin-top: 4%;
        margin-bottom: 4%;
        padding-left: 2%;
        font-size: 0.9em;
        padding-right: 2%;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: white;
        color: #2f3640;
        border: #2f3640 1px solid;
        border-radius: 4px;
    }
}

@media screen and (max-width: 350px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: url(background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: relative;
    }
    h2 {
        width: 100%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.2em;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        background-color: #2f3640;
        text-align: center;
        color: white;
        padding: 4%;
        letter-spacing: 1px;
        overflow: auto;
        text-transform: uppercase;
    }
    .main {
        width: 90%;
        margin-left: 0;
        margin-top: 20%;
    }
    #white {
        color: white;
    }
    label {
        margin-left: 5%;
        font-size: 1.2em;
        font-family: monospace;
        font-variant: small-caps;
        font-weight: bold;
        letter-spacing: 1px;
        color: #151412;
    }
    input[type=text] {
        width: 85%;
        margin-left: 5%;
        border-radius: 3px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 0.8em;
        padding: 1.5%;
        outline: none;
        border: 1px solid #2F3640;
        box-sizing: border-box;
    }
    .butn {
        align-self: center;
        margin-top: 4%;
        margin-bottom: 4%;
        padding-left: 2%;
        font-size: 0.8em;
        padding-right: 2%;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: white;
        color: #2f3640;
        border: #2f3640 1px solid;
        border-radius: 4px;
    }
}